foundation-process/main/default/flows/Asset_Update_Related_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Active_Implementation</name>
        <label>Assign Active Implementation</label>
        <locationX>3621</locationX>
        <locationY>738</locationY>
        <assignmentItems>
            <assignToReference>ActiveVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StageUpdateImplementation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Active_Live</name>
        <label>Assign Active Live</label>
        <locationX>3969</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>ActiveVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LiveCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Active_Project_Plan</name>
        <label>Assign Active Project Plan</label>
        <locationX>3476</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>StageUpdateProjectPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActiveVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Active_UAT</name>
        <label>Assign Active UAT</label>
        <locationX>3804</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ActiveVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UATcheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_At_Risk_Awaiting_Kick_off</name>
        <label>Assign At Risk Awaiting Kick off</label>
        <locationX>4868</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>checkAtRisk</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StageUpdateAwaitingKickOff</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_At_Risk_Implementation</name>
        <label>Assign At Risk Implementation</label>
        <locationX>4664</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>checkAtRisk</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StageUpdateImplementation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_At_Risk_Live</name>
        <label>Assign At Risk Live</label>
        <locationX>4567</locationX>
        <locationY>741</locationY>
        <assignmentItems>
            <assignToReference>checkAtRisk</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LiveCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_At_Risk_Project_Plan</name>
        <label>Assign At Risk Project Plan</label>
        <locationX>4766</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>checkAtRisk</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StageUpdateProjectPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Complete_Awaiting_Kick_Off</name>
        <label>Assign Complete Awaiting Kick Off</label>
        <locationX>4461</locationX>
        <locationY>749</locationY>
        <assignmentItems>
            <assignToReference>StageUpdateAwaitingKickOff</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Complete_Implementation</name>
        <label>Assign Complete Implementation</label>
        <locationX>4319</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>CheckComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StageUpdateImplementation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Complete_Live</name>
        <label>Assign Complete Live</label>
        <locationX>4166</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CheckComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LiveCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_On_hold_Awaiting_Kick_Off</name>
        <label>Assign On hold Awaiting Kick Off</label>
        <locationX>5366</locationX>
        <locationY>715</locationY>
        <assignmentItems>
            <assignToReference>CheckOnHold</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StageUpdateAwaitingKickOff</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_On_Hold_Live</name>
        <label>Assign On Hold Live</label>
        <locationX>4948</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>CheckOnHold</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LiveCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_on_hold_Project_Plan</name>
        <label>Assign on hold Project Plan</label>
        <locationX>5159</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>CheckOnHold</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StageUpdateProjectPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_on_hold_implementation</name>
        <label>Check on hold implementation</label>
        <locationX>5067</locationX>
        <locationY>705</locationY>
        <assignmentItems>
            <assignToReference>CheckOnHold</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StageUpdateImplementation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Assignment_Live</name>
        <label>Stage Assignment Live</label>
        <locationX>5824</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>LiveCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckChurn</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Assignment_Project_Plan</name>
        <label>Stage Assignment Project Plan</label>
        <locationX>5017</locationX>
        <locationY>580</locationY>
        <assignmentItems>
            <assignToReference>StageUpdateProjectPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>stage_assignment_UAT</name>
        <label>stage assignment UAT</label>
        <locationX>5551</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>UATcheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckChurn</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StageAssignmentAwaitingKickOfft</name>
        <label>Stage Assignment Awaiting Kick-Off</label>
        <locationX>4769</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>StageUpdateAwaitingKickOff</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckChurn</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StageAssignmentImplementation</name>
        <label>Stage Assignment Implementation</label>
        <locationX>5297</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>StageUpdateImplementation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckChurn</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Assignment</name>
        <label>Status Assignment</label>
        <locationX>4493</locationX>
        <locationY>572</locationY>
        <assignmentItems>
            <assignToReference>CheckChurn</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StageUpdateProjectPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Assignment_Active</name>
        <label>Status Assignment Active</label>
        <locationX>3444</locationX>
        <locationY>568</locationY>
        <assignmentItems>
            <assignToReference>ActiveVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StageUpdateAwaitingKickOff</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Assignment_At_Risk</name>
        <label>Status Assignment At Risk</label>
        <locationX>3968</locationX>
        <locationY>567</locationY>
        <assignmentItems>
            <assignToReference>checkAtRisk</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UATcheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Assignment_Complete</name>
        <label>Status Assignment Complete</label>
        <locationX>3680</locationX>
        <locationY>567</locationY>
        <assignmentItems>
            <assignToReference>CheckComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UATcheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StatusAssignmentOnhold</name>
        <label>Status Assignment On-hold</label>
        <locationX>4241</locationX>
        <locationY>567</locationY>
        <assignmentItems>
            <assignToReference>CheckOnHold</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UATcheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstGoLiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Junction_List_Loop.Project_Estimated_Go_Live_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Junction_status_Stage_check</name>
        <label>Junction status/Stage check</label>
        <locationX>4857</locationX>
        <locationY>331</locationY>
        <defaultConnector>
            <targetReference>Junction_List_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>stage_Update_Awaiting_Kickoff_Churn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Kick-off</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StageAssignmentAwaitingKickOfft</targetReference>
            </connector>
            <label>stage Update Awaiting Kickoff/Churn</label>
        </rules>
        <rules>
            <name>stage_update_Live_Churn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Assignment_Live</targetReference>
            </connector>
            <label>stage update Live/Churn</label>
        </rules>
        <rules>
            <name>stage_update_Implementation_Churn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StageAssignmentImplementation</targetReference>
            </connector>
            <label>stage update Implementation/Churn</label>
        </rules>
        <rules>
            <name>stage_Update_Project_Plan_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Assignment_Project_Plan</targetReference>
            </connector>
            <label>stage Update Project Plan/Complete</label>
        </rules>
        <rules>
            <name>stage_update_UAT_Churn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>stage_assignment_UAT</targetReference>
            </connector>
            <label>stage update UAT/Churn</label>
        </rules>
        <rules>
            <name>Status_Active_Awaiting_Kick_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Kick-Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Assignment_Active</targetReference>
            </connector>
            <label>Status Active/Awaiting Kick Off</label>
        </rules>
        <rules>
            <name>Status_Update_Complete_UAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UAT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Assignment_Complete</targetReference>
            </connector>
            <label>Status Update Complete/UAT</label>
        </rules>
        <rules>
            <name>Status_Update_At_Risk_UAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>At Risk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UAT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Assignment_At_Risk</targetReference>
            </connector>
            <label>Status Update At Risk/UAT</label>
        </rules>
        <rules>
            <name>status_Update_On_hold_UAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On-hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UAT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StatusAssignmentOnhold</targetReference>
            </connector>
            <label>status Update On-hold/UAT</label>
        </rules>
        <rules>
            <name>Status_CompleteLive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Complete_Live</targetReference>
            </connector>
            <label>Status CompleteLive</label>
        </rules>
        <rules>
            <name>Status_CompleteImplementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Complete_Implementation</targetReference>
            </connector>
            <label>Status Complete/Implementation</label>
        </rules>
        <rules>
            <name>Status_CompleteAwaiting_Kick_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Kick-Off</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Complete_Awaiting_Kick_Off</targetReference>
            </connector>
            <label>Status Complete/Awaiting Kick Off</label>
        </rules>
        <rules>
            <name>Status_At_Risk_Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>At Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_At_Risk_Live</targetReference>
            </connector>
            <label>Status At Risk Live</label>
        </rules>
        <rules>
            <name>Status_At_Risk_Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>At Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_At_Risk_Implementation</targetReference>
            </connector>
            <label>Status At Risk Implementation</label>
        </rules>
        <rules>
            <name>Status_At_RiskProject_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>At Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_At_Risk_Project_Plan</targetReference>
            </connector>
            <label>Status At Risk Project Plan</label>
        </rules>
        <rules>
            <name>Status_At_RiskAwaiting_Kick_off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Kick-Off</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>At Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_At_Risk_Awaiting_Kick_off</targetReference>
            </connector>
            <label>Status At Risk Awaiting Kick off</label>
        </rules>
        <rules>
            <name>Status_On_Hold_Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On-hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_On_Hold_Live</targetReference>
            </connector>
            <label>Status On Hold Live</label>
        </rules>
        <rules>
            <name>Status_On_hold_Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On-hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_on_hold_implementation</targetReference>
            </connector>
            <label>Status On hold Implementation</label>
        </rules>
        <rules>
            <name>Status_On_Hold_project_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On-hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_on_hold_Project_Plan</targetReference>
            </connector>
            <label>Status On Hold project Plan</label>
        </rules>
        <rules>
            <name>Status_On_hold_Awaiting_Kick_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Kick-Off</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On-hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_On_hold_Awaiting_Kick_Off</targetReference>
            </connector>
            <label>Status On hold Awaiting Kick Off</label>
        </rules>
        <rules>
            <name>Status_Active_Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Active_Live</targetReference>
            </connector>
            <label>Status Active Live</label>
        </rules>
        <rules>
            <name>Status_Active_UAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Active_UAT</targetReference>
            </connector>
            <label>Status Active UAT</label>
        </rules>
        <rules>
            <name>Status_Active_Implentation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Active_Implementation</targetReference>
            </connector>
            <label>Status Active Implentation</label>
        </rules>
        <rules>
            <name>Status_Active_Project_plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Active_Project_Plan</targetReference>
            </connector>
            <label>Status Active Project plan</label>
        </rules>
        <rules>
            <name>Status_Update_Churn_Project_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Junction_List_Loop.Status_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Junction_List_Loop.Stage_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Assignment</targetReference>
            </connector>
            <label>Status Update Churn/Project Plan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Stage_Logic</name>
        <label>Update Stage Logic</label>
        <locationX>3350</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Status_Active_AwaitingKickOff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Update_Active</targetReference>
            </connector>
            <label>Update Status Active/AwaitingKickOff</label>
        </rules>
        <rules>
            <name>StageAwaitingKickOffOnhold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckOnHold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkAtRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_AwaitingKickOff</targetReference>
            </connector>
            <label>Stage Awaiting Kick-Off/On-hold</label>
        </rules>
        <rules>
            <name>stageImplementationActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateImplementation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateProjectPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_Implementation</targetReference>
            </connector>
            <label>stage Implementation/Active</label>
        </rules>
        <rules>
            <name>Stage_Project_Plan_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateProjectPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_Project_Plan</targetReference>
            </connector>
            <label>Stage Project Plan/Active</label>
        </rules>
        <rules>
            <name>Stage_UAT_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateImplementation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateProjectPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UATcheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_stage_UAT</targetReference>
            </connector>
            <label>Stage UAT/Active</label>
        </rules>
        <rules>
            <name>Stage_Live_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LiveCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateProjectPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UATcheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateImplementation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_Live</targetReference>
            </connector>
            <label>Stage Live/Active</label>
        </rules>
        <rules>
            <name>Update_Status_On_Hold_Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckOnHold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateImplementation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateProjectPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkAtRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status</targetReference>
            </connector>
            <label>Update Status On Hold/Implementation</label>
        </rules>
        <rules>
            <name>Status_At_Risk_Awaiting_Kick_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkAtRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_At_Risk</targetReference>
            </connector>
            <label>Status At Risk/Awaiting Kick-Off</label>
        </rules>
        <rules>
            <name>Status_Complete_Awaiting_Kick_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkAtRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckOnHold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Complete</targetReference>
            </connector>
            <label>Status Complete/Awaiting Kick-Off</label>
        </rules>
        <rules>
            <name>Status_Churn_Awaiting_Kick_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkAtRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckOnHold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckChurn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status</targetReference>
            </connector>
            <label>Status Churn/Awaiting Kick-Off</label>
        </rules>
        <rules>
            <name>Status_OnHold_ProjectPlan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckOnHold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateProjectPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkAtRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_on_Hold_Project_Plan</targetReference>
            </connector>
            <label>Status OnHold/ProjectPlan</label>
        </rules>
        <rules>
            <name>Status_OnHold_UAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateProjectPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckOnHold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateImplementation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UATcheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkAtRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_On_Hold_UAT</targetReference>
            </connector>
            <label>Status OnHold/UAT</label>
        </rules>
        <rules>
            <name>Status_OnHold_Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UATcheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateImplementation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateProjectPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckOnHold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LiveCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkAtRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_On_Hold_Live</targetReference>
            </connector>
            <label>Status OnHold/Live</label>
        </rules>
        <rules>
            <name>Status_At_Risk_Project_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkAtRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateProjectPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_At_Risk_Project_Plan</targetReference>
            </connector>
            <label>Status At Risk/Project Plan</label>
        </rules>
        <rules>
            <name>Status_AtRisk_Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateProjectPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkAtRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateImplementation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AtRisk_Implementaion</targetReference>
            </connector>
            <label>Status AtRisk/Implementation</label>
        </rules>
        <rules>
            <name>Status_AtRisk_UAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateProjectPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateImplementation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkAtRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UATcheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_At_Risk_Uat</targetReference>
            </connector>
            <label>Status AtRisk/UAT</label>
        </rules>
        <rules>
            <name>Status_AtRisk_Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UATcheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateImplementation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateProjectPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkAtRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LiveCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_At_Risk_Live</targetReference>
            </connector>
            <label>Status AtRisk/Live</label>
        </rules>
        <rules>
            <name>Status_Complete_Project_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkAtRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckOnHold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateProjectPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Complete_Project_Plan</targetReference>
            </connector>
            <label>Status Complete/Project Plan</label>
        </rules>
        <rules>
            <name>Status_Complete_Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkAtRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckOnHold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateProjectPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateImplementation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Complete_Implementation</targetReference>
            </connector>
            <label>Status Complete/Implementation</label>
        </rules>
        <rules>
            <name>Status_Complete_UAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkAtRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckOnHold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateProjectPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateImplementation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UATcheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Complete_UAT</targetReference>
            </connector>
            <label>Status Complete/UAT</label>
        </rules>
        <rules>
            <name>Status_Complete_Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkAtRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckOnHold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateProjectPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateImplementation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UATcheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LiveCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Complete_Live</targetReference>
            </connector>
            <label>Status Complete/Live</label>
        </rules>
        <rules>
            <name>Status_Churn_ProjectPlan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkAtRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckChurn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckOnHold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateProjectPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Churn_Project_Plan</targetReference>
            </connector>
            <label>Status Churn/ProjectPlan</label>
        </rules>
        <rules>
            <name>Status_Churn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkAtRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckChurn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckOnHold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateProjectPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateImplementation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Implementation_Churn</targetReference>
            </connector>
            <label>Status Churn/Implementation</label>
        </rules>
        <rules>
            <name>Status_Churn_UAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkAtRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckChurn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckOnHold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UATcheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateProjectPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateImplementation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Churn_UAT</targetReference>
            </connector>
            <label>Status Churn/UAT</label>
        </rules>
        <rules>
            <name>Status_Churn_Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkAtRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckChurn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateAwaitingKickOff</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateProjectPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UATcheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdateImplementation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LiveCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Churn_Live</targetReference>
            </connector>
            <label>Status Churn/Live</label>
        </rules>
    </decisions>
    <description>Latest 1</description>
    <interviewLabel>Asset Update(Related Project) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Update(Related Project)</label>
    <loops>
        <name>Junction_List_Loop</name>
        <label>Junction List Loop</label>
        <locationX>3350</locationX>
        <locationY>326</locationY>
        <collectionReference>junctionList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Junction_status_Stage_check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Stage_Logic</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_junction_records</name>
        <label>get junction records</label>
        <locationX>3350</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Junction_List_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_of_Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stage_of_Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Project_Estimated_Go_Live_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AccountProjectAssetJunction__c</object>
        <outputReference>junctionList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status_of_Project__c</queriedFields>
        <queriedFields>Stage_of_Project__c</queriedFields>
        <queriedFields>Project_Estimated_Go_Live_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Status</name>
        <label>Update Status Churn</label>
        <locationX>2426</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Awaiting_Kick_Off_date_for_flow__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>Awaiting Kick-off</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Status_Implementation_Churn</name>
        <label>Status Implementation/Churn</label>
        <locationX>5636</locationX>
        <locationY>869</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Status_On_Hold_UAT</name>
        <label>Status On Hold / UAT</label>
        <locationX>2954</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>On_Hold_date_for_flow__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>UAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>On-hold</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UAT_Date_for_flow__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Status_Update_Active</name>
        <label>Status Update  Active</label>
        <locationX>46</locationX>
        <locationY>999</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Awaiting_Kick_Off_date_for_flow__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>Awaiting Kick-off</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_At_Risk_Live</name>
        <label>Update At Risk/Live</label>
        <locationX>4274</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>At Risk</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_At_Risk_Project_Plan</name>
        <label>Update At Risk/ Project Plan</label>
        <locationX>3482</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>Project Plan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>At Risk</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_At_Risk_Uat</name>
        <label>Update At Risk/Uat</label>
        <locationX>4011</locationX>
        <locationY>999</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>UAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>At Risk</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UAT_Date_for_flow__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AtRisk_Implementaion</name>
        <label>Update AtRisk/Implementaion</label>
        <locationX>3746</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>At Risk</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Churn_Live</name>
        <label>Update Churn/Live</label>
        <locationX>6217</locationX>
        <locationY>803</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Churn_Project_Plan</name>
        <label>Update Churn/ Project Plan</label>
        <locationX>5269</locationX>
        <locationY>964</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>Project Plan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Churn_UAT</name>
        <label>Update Churn/UAT</label>
        <locationX>5792</locationX>
        <locationY>1096</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>UAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UAT_Date_for_flow__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Complete_Implementation</name>
        <label>Update Complete/ Implementation</label>
        <locationX>4802</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Complete_Live</name>
        <label>Update Complete/Live</label>
        <locationX>5377</locationX>
        <locationY>1169</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Complete_Live_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Complete_Project_Plan</name>
        <label>Update Complete/Project Plan</label>
        <locationX>4539</locationX>
        <locationY>999</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>Project Plan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Complete_UAT</name>
        <label>Update Complete/UAT</label>
        <locationX>4911</locationX>
        <locationY>1248</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>UAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UAT_Date_for_flow__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_On_Hold_Live</name>
        <label>Update On Hold/Live</label>
        <locationX>3218</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>On_Hold_date_for_flow__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>On-hold</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_on_Hold_Project_Plan</name>
        <label>Update on Hold/Project Plan</label>
        <locationX>2690</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>On_Hold_date_for_flow__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>Project Plan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>On-hold</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage_AwaitingKickOff</name>
        <label>Update Stage Awaiting Kick-Off</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Awaiting_Kick_Off_date_for_flow__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>On_Hold_date_for_flow__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>Awaiting Kick-off</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>On-hold</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage_Implementation</name>
        <label>Update Stage Implementation</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage_Live</name>
        <label>Update Stage Live</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage_Project_Plan</name>
        <label>Update Stage Project Plan</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>Project Plan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_stage_UAT</name>
        <label>Update stage UAT</label>
        <locationX>1109</locationX>
        <locationY>999</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>UAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UAT_Date_for_flow__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status On-hold</label>
        <locationX>1636</locationX>
        <locationY>1001</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>On_Hold_date_for_flow__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>On-hold</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_At_Risk</name>
        <label>Update Status At Risk</label>
        <locationX>1899</locationX>
        <locationY>999</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Awaiting_Kick_Off_date_for_flow__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>Awaiting Kick-off</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>At Risk</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Complete</name>
        <label>Update Status Complete</label>
        <locationX>2162</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Awaiting_Kick_Off_date_for_flow__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>Awaiting Kick-off</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <start>
        <locationX>3224</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_junction_records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ActiveVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>checkAtRisk</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CheckChurn</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CheckComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CheckOnHold</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EstGoLiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>junctionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountProjectAssetJunction__c</objectType>
    </variables>
    <variables>
        <name>LiveCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StageUpdateAwaitingKickOff</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StageUpdateImplementation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StageUpdateProjectPlan</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UATcheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
