foundation-process/main/default/flows/CTX_SurveyEmailReminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Onboarding_Survey</name>
        <label>Send Onboarding Survey</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <actionName>SurveyInvitation.Send_Onboarding_Survey</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Survey_Invitations</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Survey_Invitations.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <formulas>
        <name>Survey_Invitation_CreatedDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 5</expression>
    </formulas>
    <interviewLabel>CTX_SurveyEmailReminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTX_SurveyEmailReminder</label>
    <loops>
        <name>Survey_Invitations</name>
        <label>Survey Invitations</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_Survey_Invitation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Onboarding_Survey</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Survey_Invitation</name>
        <label>Get Survey Invitation</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Survey_Invitations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ResponseStatus</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Created_Date_Custom__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Survey_Invitation_CreatedDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SurveyInvitation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Survey_Invitation</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-07-28</startDate>
            <startTime>10:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>SurveyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0Kd710000000317CAA</stringValue>
        </value>
    </variables>
</Flow>
