foundation-process/main/default/flows/CTX_OnboardingSurvey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Integration_Project_Survey</name>
        <label>Send Integration Project Survey</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <actionName>SurveyInvitation.Send_Integration_Project_Survey</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Onboarding_Survey</name>
        <label>Send Onboarding Survey</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <actionName>SurveyInvitation.Send_Onboarding_Survey</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>CheckSurvey</name>
        <label>CheckSurvey</label>
        <locationX>710</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SurveyName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Integration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_Survey_Invitation_Records_0_0</targetReference>
            </connector>
            <label>SurveyName</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSurveyId</name>
        <label>CheckSurveyId</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckOnboardingSurvey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SurveyId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0KdC50000000051KAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Invitation_Records</targetReference>
            </connector>
            <label>CheckOnboardingSurvey</label>
        </rules>
    </decisions>
    <interviewLabel>Onboarding Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTX_SendSurveyEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Project_Survey_Invitation_Records_0_0</name>
        <label>Project Survey Invitation Records</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Integration_Project_Survey</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Integration Project Feedback</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SurveyInvitation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Survey_Invitation_Records</name>
        <label>Onboarding Survey Invitation Records</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Onboarding_Survey</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Onboarding Feedback for Asset</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SurveyInvitation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckSurveyId</targetReference>
        </connector>
        <object>SurveyInvitation</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>IntegrationProjectSurvey</name>
            <connector>
                <targetReference>CheckSurvey</targetReference>
            </connector>
            <label>IntegrationProjectSurvey</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OnboardingSurveyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0Kd710000000317CAA</stringValue>
        </value>
    </variables>
    <variables>
        <name>ProjectSurveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0Kd71000000034LCAQ</stringValue>
        </value>
    </variables>
</Flow>
