foundation-process/main/default/flows/CTX_AssetAfterTriggerFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_License_Deactivation_Notification</name>
        <label>Send License Deactivation Notification</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>DeactivationEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>DeactivationNotificationRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>notification@support.clear.in</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>LicenseDeactivationSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Onboarding_Owner_Email_to_Deactivation_Notification_Send</name>
        <label>Add Onboarding Owner Email to Deactivation Notification Send</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>DeactivationNotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account.Onboarding_Owner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_License_Deactivation_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Deactivation_Recipients</name>
        <label>Set Deactivation Recipients</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>DeactivationNotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CSM_Null_Check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asset_DML_Operation</name>
        <label>Asset DML Operation</label>
        <locationX>545</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Field_Conditions</targetReference>
            </connector>
            <label>Is Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>CSM_Null_Check</name>
        <label>CSM Null Check</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Send_License_Deactivation_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Onboarding_Owner_Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Onboarding_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Onboarding_Owner_Email_to_Deactivation_Notification_Send</targetReference>
            </connector>
            <label>Onboarding Owner Not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Field_Conditions</name>
        <label>Update Field Conditions</label>
        <locationX>336</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>License_Id_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.License_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.License_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.License_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Deactivation_Recipients</targetReference>
            </connector>
            <label>License Id Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DeactivationTooAddresses</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Owner.Email} + &quot;,&quot; + {!$Record.Account.Onboarding_Owner__r.Email}</expression>
    </formulas>
    <formulas>
        <name>IsUpdate</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW())</expression>
    </formulas>
    <formulas>
        <name>LicenseDeactivationSubject</name>
        <dataType>String</dataType>
        <expression>&quot;License Deactivation : &quot; + {!$Record.Account.Name} +&quot; | &quot;+ {!$Record.Product2.Name}</expression>
    </formulas>
    <interviewLabel>CTX_AssetAfterTriggerFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTX_AssetAfterTriggerFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asset_DML_Operation</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DeactivationEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hello,&lt;br&gt;&lt;br&gt;Following License has been deactivated,&lt;br&gt;&lt;br&gt;&lt;strong&gt;Asset Link : &lt;/strong&gt;{!$Label.SF_Base_URL}{!$Record.Id}&lt;br&gt;&lt;strong&gt;Account Name : &lt;/strong&gt;{!$Record.Account.Name} &lt;br&gt; &lt;strong&gt;Product Name : &lt;/strong&gt;{!$Record.Product2.Name}&lt;br&gt;&lt;br&gt; Note : Since licensing cleanup is going on, we are deactivating some old licenses and activating fresh ones. Please click on the asset link and see if license ID is present in the asset. If license ID is present , it means new license is active and you can ignore this mail notification.&lt;br&gt;If the license is supposed to be active but license ID is not present in the asset, please create a L2 support ticket to get it checked.&lt;br&gt; Regards,&lt;br&gt;Team Clear (formerly known as ClearTax)</text>
    </textTemplates>
    <textTemplates>
        <name>RichTextBodyDeactivationEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!DeactivationNotificationRecipients}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>DeactivationNotificationRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
