foundation-process/main/default/flows/Flow_to_Create_Survey_Invite.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_Survey_Subject</name>
        <label>assign Survey Subject</label>
        <locationX>586</locationX>
        <locationY>462</locationY>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.SubjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>surveyInvitationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.SurveyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>surveyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulasurveyName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createSurveySubject</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>FormulasurveyName</name>
        <dataType>String</dataType>
        <expression>&apos;Survey for Case&apos;+{!caseNumber}</expression>
    </formulas>
    <interviewLabel>Flow to Create Survey Invite {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow to Create Survey Invite</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Survey_Invitation</name>
        <label>Create Survey Invitation</label>
        <locationX>305</locationX>
        <locationY>516</locationY>
        <assignRecordIdToReference>surveyInvitationId</assignRecordIdToReference>
        <connector>
            <targetReference>assign_Survey_Subject</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityId</field>
            <value>
                <elementReference>communityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>contactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FormulasurveyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowGuestUserResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsCollectAnonymousResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyId</field>
            <value>
                <elementReference>surveyId</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
    </recordCreates>
    <recordCreates>
        <name>createSurveySubject</name>
        <label>createSurveySubject</label>
        <locationX>860</locationX>
        <locationY>331</locationY>
        <inputReference>sObjSurveySubject</inputReference>
    </recordCreates>
    <recordLookups>
        <name>lookupCase</name>
        <label>lookupCase</label>
        <locationX>182</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookupCommunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>caseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactEmail</assignToReference>
            <field>ContactEmail</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookupCommunity</name>
        <label>lookupCommunity</label>
        <locationX>181</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookupSurvey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SurveyForm</stringValue>
            </value>
        </filters>
        <object>Network</object>
        <outputAssignments>
            <assignToReference>communityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookupSurvey</name>
        <label>lookupSurvey</label>
        <locationX>166</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Survey_Invitation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Satisfaction</stringValue>
            </value>
        </filters>
        <object>Survey</object>
        <outputAssignments>
            <assignToReference>surveyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>lookupCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>communityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjSurveySubject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveySubject</objectType>
    </variables>
    <variables>
        <name>surveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>surveyInvitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
