foundation-process/main/default/flows/junction_count_on_asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Total_junction_Count</name>
        <label>Total junction Count</label>
        <locationX>450</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>Totaljunctioncount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>junctionList2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>count_Junction</targetReference>
        </connector>
    </assignments>
    <interviewLabel>junction count on asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>junction count on asset</label>
    <loops>
        <name>count_Junction</name>
        <label>count Junction</label>
        <locationX>433</locationX>
        <locationY>290</locationY>
        <collectionReference>junctionList2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_junction_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Asset_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_junction_records</name>
        <label>get junction records</label>
        <locationX>416</locationX>
        <locationY>123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>count_Junction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAssetId</elementReference>
            </value>
        </filters>
        <object>AccountProjectAssetJunction__c</object>
        <outputReference>junctionList2</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_Account</name>
        <label>Update Asset Account</label>
        <locationX>676</locationX>
        <locationY>289</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAssetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_of__c</field>
            <value>
                <elementReference>Totaljunctioncount</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_junction_records</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>curAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>junctionList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountProjectAssetJunction__c</objectType>
    </variables>
    <variables>
        <name>junctionList2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountProjectAssetJunction__c</objectType>
    </variables>
    <variables>
        <name>Totaljunctioncount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
