foundation-process/main/default/flows/Lead_Teams_Process_Builder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>processSelection</name>
            <value>
                <stringValue>Approval for Co-Ownership - Approval_for_Co_Ownership</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>selectionType</name>
            <value>
                <stringValue>selectedProcess</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>submitterType</name>
            <value>
                <stringValue>currentUser</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Initiate Approval for Coownership</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Submitted Approval for Co-ownership</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_for_Co_Ownership</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>BellNotification</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>send bell Notifications</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>BellNotification</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myDecision8</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>recordId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>recordId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>emailTemplateId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>emailTemplateId</name>
            <value>
                <elementReference>formula_4_myRule_3_A1_9598975749</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>recipientList</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>2000.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>recipientList</name>
            <value>
                <elementReference>myCollection_myRule_3_A1recipientList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>title</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>title</name>
            <value>
                <stringValue>Request for Lead Locking</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>notificationId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>notificationId</name>
            <value>
                <elementReference>formula_6_myRule_3_A1_4865226611</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>notificationMessage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>notificationMessage</name>
            <value>
                <elementReference>formula_7_myRule_3_A1_8491594811</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>BellNotification</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>send Notification on Co-Ownership request</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>BellNotification</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>recordId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>recordId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>emailTemplateId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>emailTemplateId</name>
            <value>
                <elementReference>formula_10_myRule_9_A1_2168495570</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>recipientList</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>2000.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>recipientList</name>
            <value>
                <elementReference>myCollection_myRule_9_A1recipientList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>title</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>title</name>
            <value>
                <stringValue>Notification on Co-Ownership</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>notificationId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>notificationId</name>
            <value>
                <elementReference>formula_12_myRule_9_A1_1039253173</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>notificationMessage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>notificationMessage</name>
            <value>
                <elementReference>formula_13_myRule_9_A1_3684404674</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>myAssignment_myRule_3_A1</name>
        <label>myAssignment_myRule_3_A1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myCollection_myRule_3_A1recipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_5_myRule_3_A1_1463243542</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_3_A1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myAssignment_myRule_9_A1</name>
        <label>myAssignment_myRule_9_A1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myCollection_myRule_9_A1recipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_11_myRule_9_A1_3632837461</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_9_A1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Submit for Approvel for Coownership</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myAssignment_myRule_3_A1</targetReference>
            </connector>
            <label>Send Notifications to Contact Owner of the Power PartnerUser</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myAssignment_myRule_9_A1</targetReference>
            </connector>
            <label>Send Notifications to Owner if the user Not Portal User</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Label.emailTemplateIdToLeadTeamReques </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_9_A1_2168495570</name>
        <dataType>String</dataType>
        <expression>{!$Label.emailTemplateIdToLeadTeamReques}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Lead_Team__c].OwnerId</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_9_A1_3632837461</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.OwnerId}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Label.BellNotificationId </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_12_myRule_9_A1_1039253173</name>
        <dataType>String</dataType>
        <expression>{!$Label.BellNotificationId}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&apos;Hi &apos;+[Lead_Team__c].Owner:User.LastName+&apos;, Please check the &apos;+[Lead_Team__c].Name +&apos; on Request for Co-Ownership&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_9_A1_3684404674</name>
        <dataType>String</dataType>
        <expression>&apos;Hi &apos;+{!myVariable_current.Owner:User.LastName}+&apos;, Please check the &apos;+{!myVariable_current.Name} +&apos; on Request for Co-Ownership&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Label.emailTemplateIdToLeadTeamReques </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_3_A1_9598975749</name>
        <dataType>String</dataType>
        <expression>{!$Label.emailTemplateIdToLeadTeamReques}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Lead_Team__c].Owner:User.Contact.OwnerId </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_3_A1_1463243542</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Owner:User.Contact.OwnerId}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Label.BellNotificationId </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_3_A1_4865226611</name>
        <dataType>String</dataType>
        <expression>{!$Label.BellNotificationId}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&apos;Hi Please check the &apos;+[Lead_Team__c].Name +&apos;has request for Co-Ownership&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_3_A1_8491594811</name>
        <dataType>String</dataType>
        <expression>&apos;Hi Please check the &apos;+{!myVariable_current.Name} +&apos;has request for Co-Ownership&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISNEW() &amp;&amp; (([Lead_Team__c].Lead__c &lt;&gt; null || [Lead_Team__c].Opportunity__c !=null )&amp;&amp; [Lead_Team__c].User__c &lt;&gt; null) &amp;&amp;  [Lead_Team__c].IsOwner__c = false &amp;&amp; NOT(ISPICKVAL([Lead_Team__c].Approval_for_Co_Ownership__c,&apos;Approved&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp; (({!myVariable_current.Lead__c} &lt;&gt; null || {!myVariable_current.Opportunity__c} !=null )&amp;&amp; {!myVariable_current.User__c} &lt;&gt; null) &amp;&amp;  {!myVariable_current.IsOwner__c} = false &amp;&amp; NOT(ISPICKVAL({!myVariable_current.Approval_for_Co_Ownership__c},&apos;Approved&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISNEW() &amp;&amp;
 (
  ([Lead_Team__c].Lead__c &lt;&gt; null || [Lead_Team__c].Opportunity__c !=null )&amp;&amp; 
   [Lead_Team__c].User__c &lt;&gt; null) &amp;&amp;  [Lead_Team__c].IsOwner__c = false  &amp;&amp; NOT(ISPICKVAL([Lead_Team__c].Approval_for_Co_Ownership__c,&apos;Approved&apos;))
   &amp;&amp; (
        IF(
          [Lead_Team__c].Lead__c!=null 
         ,ISPICKVAL([Lead_Team__c].Lead__r.Owner:User.UserType,&apos;PowerPartner&apos;), 
        IF( [Lead_Team__c].Opportunity__c!=null ,
          ISPICKVAL([Lead_Team__c].Opportunity__r.Owner.UserType ,&apos;PowerPartner&apos;),false     
        )
    )
 ) 




</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp;
 (
  ({!myVariable_current.Lead__c} &lt;&gt; null || {!myVariable_current.Opportunity__c} !=null )&amp;&amp; 
   {!myVariable_current.User__c} &lt;&gt; null) &amp;&amp;  {!myVariable_current.IsOwner__c} = false  &amp;&amp; NOT(ISPICKVAL({!myVariable_current.Approval_for_Co_Ownership__c},&apos;Approved&apos;))
   &amp;&amp; (
        IF(
          {!myVariable_current.Lead__c}!=null 
         ,ISPICKVAL({!myVariable_current.Lead__r.Owner:User.UserType},&apos;PowerPartner&apos;), 
        IF( {!myVariable_current.Opportunity__c}!=null ,
          ISPICKVAL({!myVariable_current.Opportunity__r.Owner.UserType} ,&apos;PowerPartner&apos;),false     
        )
    )
 )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISNEW() &amp;&amp; (([Lead_Team__c].Lead__c &lt;&gt; null || [Lead_Team__c].Opportunity__c !=null )&amp;&amp; [Lead_Team__c].User__c &lt;&gt; null) &amp;&amp;  [Lead_Team__c].IsOwner__c = false &amp;&amp; NOT(ISPICKVAL([Lead_Team__c].Approval_for_Co_Ownership__c,&apos;Approved&apos;)) 
 &amp;&amp; (
        IF(
          [Lead_Team__c].Lead__c!=null 
         ,NOT(ISPICKVAL([Lead_Team__c].Lead__r.Owner:User.UserType,&apos;PowerPartner&apos;)), 
        IF( [Lead_Team__c].Opportunity__c!=null ,
          NOT(ISPICKVAL([Lead_Team__c].Opportunity__r.Owner.UserType ,&apos;PowerPartner&apos;)),false     
        )
    )
 ) 

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp; (({!myVariable_current.Lead__c} &lt;&gt; null || {!myVariable_current.Opportunity__c} !=null )&amp;&amp; {!myVariable_current.User__c} &lt;&gt; null) &amp;&amp;  {!myVariable_current.IsOwner__c} = false &amp;&amp; NOT(ISPICKVAL({!myVariable_current.Approval_for_Co_Ownership__c},&apos;Approved&apos;)) 
 &amp;&amp; (
        IF(
          {!myVariable_current.Lead__c}!=null 
         ,NOT(ISPICKVAL({!myVariable_current.Lead__r.Owner:User.UserType},&apos;PowerPartner&apos;)), 
        IF( {!myVariable_current.Opportunity__c}!=null ,
          NOT(ISPICKVAL({!myVariable_current.Opportunity__r.Owner.UserType} ,&apos;PowerPartner&apos;)),false     
        )
    )
 )</expression>
    </formulas>
    <interviewLabel>Lead_Teams_Process_Builder-3_InterviewLabel</interviewLabel>
    <label>Lead Teams Process Builder</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Lead_Team__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myCollection_myRule_3_A1recipientList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>myCollection_myRule_9_A1recipientList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead_Team__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead_Team__c</objectType>
    </variables>
</Flow>
