foundation-process/main/default/flows/Project_Scope_Category_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>check_Scope_Category</name>
        <label>check Scope Category</label>
        <locationX>1292</locationX>
        <locationY>404</locationY>
        <defaultConnector>
            <targetReference>loopOverJunctionList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Development</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopOverJunctionList.Scope_Category_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopOverJunctionList</targetReference>
            </connector>
            <label>Development</label>
        </rules>
        <rules>
            <name>Consultation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopOverJunctionList.Scope_Category_of_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopOverJunctionList</targetReference>
            </connector>
            <label>Consultation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Final_Update_Check</name>
        <label>Final Update Check</label>
        <locationX>164</locationX>
        <locationY>525</locationY>
        <defaultConnector>
            <targetReference>Installation_Update_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Development_Final</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Development</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Development_Update_0</targetReference>
            </connector>
            <label>Development Final</label>
        </rules>
        <rules>
            <name>Consultation_Final</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consultation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Development</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consultation_Update</targetReference>
            </connector>
            <label>Consultation Final</label>
        </rules>
    </decisions>
    <interviewLabel>Project Scope Category Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Scope Category Update</label>
    <loops>
        <name>loopOverJunctionList</name>
        <label>loopOverJunctionList</label>
        <locationX>164</locationX>
        <locationY>397</locationY>
        <collectionReference>loopJunction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_Scope_Category</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Final_Update_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getParentAsset</name>
        <label>getParentAsset</label>
        <locationX>166</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOverJunctionList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relAssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Scope_Category_of_Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AccountProjectAssetJunction__c</object>
        <outputReference>loopJunction</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Scope_Category_of_Project__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Consultation_Update</name>
        <label>Consultation Update</label>
        <locationX>382</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relAssetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Scope_Category__c</field>
            <value>
                <stringValue>Consultation</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Development_Update_0</name>
        <label>Development Update</label>
        <locationX>279</locationX>
        <locationY>679</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relAssetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Scope_Category__c</field>
            <value>
                <stringValue>Development</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Installation_Update_0_0</name>
        <label>Installation Update</label>
        <locationX>95</locationX>
        <locationY>708</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relAssetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Scope_Category__c</field>
            <value>
                <stringValue>Installation</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getParentAsset</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>loopJunction</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountProjectAssetJunction__c</objectType>
    </variables>
    <variables>
        <name>relAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
