foundation-process/main/default/flows/Send_Email_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notification</name>
        <label>Notification</label>
        <locationX>182</locationX>
        <locationY>582</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>toAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Manager_Email</name>
        <label>Add Manager Email</label>
        <locationX>1102</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>toAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ownerManagerEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_atleast_One_email_is_available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Owner_Mail_Assignment</name>
        <label>Owner Mail Assignment</label>
        <locationX>706</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>toAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OwnerEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manager_Mail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_atleast_One_email_is_available</name>
        <label>Check If atleast One email is available</label>
        <locationX>419</locationX>
        <locationY>584</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mail_ID</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>toAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification</targetReference>
            </connector>
            <label>Mail ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_Mail</name>
        <label>Manager Mail</label>
        <locationX>1093</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>Check_If_atleast_One_email_is_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_Check_Manager_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ownerManagerEmail</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Manager_Email</targetReference>
            </connector>
            <label>To Check Manager Mail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Mail_Check</name>
        <label>Owner Mail Check</label>
        <locationX>692</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>Manager_Mail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Mail_Address_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Mail_Assignment</targetReference>
            </connector>
            <label>Owner Mail Address Check</label>
        </rules>
    </decisions>
    <interviewLabel>Send Email Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Owner_Mail_Check</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ownerManagerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>toAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
